/*
Easy CTA Buttons

Version: 1.0
*/

.callout-button {
	text-align: center;
	font-weight: 600;
	color: #fff;
	display: block;
	background: #43464b;
	padding: 30px;
	margin: 30px 0 40px;
}
.callout-button:hover {
	opacity: 0.8;
}
.callout-round {
	border-radius: 50px;
	padding: 15px 30px;
}

/*.callout-blue {
	background: #008ed6;
}
.callout-dk-grey {
	background: #43464b;
}
.callout-green {
	background: #009e46;
}
.callout-lt-grey {
	background: #ddd;
	color: #555;
}
.callout-lt-grey:hover {
	background: #bbb;
}
.callout-orange {
	background: #fe8e00;
}
.callout-yellow {
	background: #ffd802;
	color: #555;
}*/